body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    overflow: scroll;
    background-color: #3cf;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #9e3a00;
    border-bottom: 2px solid #3cf;
    color: #000;
    border-radius: 9px;
}

main {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    /* padding: 2vw; */
    /* text-align: center; */
    background-color: #012;
    border-radius: 9px;
}

h1 {
    font-size: 2.4vw;
}
